# Solution â€” k-means (k=2) + Rand Index

1) Load data
2) Standardize and fit k-means
3) Rand Index vs `group`.

In [1]:
# 1. Load dataset
import pandas as pd

df = pd.read_csv("../data/day5_example.csv")
y = df['group']
X = df[['Gene1','Gene2','Gene3']]
df.head()

  group     Gene1     Gene2     Gene3
0     A  0.524097 -0.047710 -0.545653
1     A -2.260768 -1.519615 -0.398969
2     A -0.019680  0.794936  0.585381
3     A  0.183140 -0.144233  0.163862
4     A -0.361351 -0.706498  0.141025

In [3]:
# 2. Fit k-means (k=2) after standardizing
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

scaler = StandardScaler()
Xz = scaler.fit_transform(X)

kmeans = KMeans(n_clusters=2, random_state=0, n_init=10)
labels = kmeans.fit_predict(Xz)
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [5]:
# 3. Rand Index vs true `group`
from sklearn.metrics import rand_score

ri = rand_score(y, labels)
ri

0.98